<div class="row" id="film">
	<div class="col-md-12">
		<h2 class="page-title">Film </h2>
	</div>
	<div class="col-md-12 box-list">
		<div ng-repeat="i in pageArray track by $index" id="film-page-{{i}}">
			<ul ng-if="allFilms[i].results">
				<li ng-repeat="film in allFilms[i].results track by film.url" class="border-top-blue">
					<i class="fa fa-film title-panel"></i> &nbsp;&nbsp;<span class="title-panel" ng-bind="film.title"></span><br/>
					<div class="pane-detail">
						<span ng-bind="'Director : ' + film.director"></span><br/>
						<span ng-bind="'Producer : ' + film.producer"></span><br/>
						<span ng-bind="'Release Date : ' + film.release_date"></span><br/>
						<span ng-bind="'Opening Crawl : ' + film.opening_crawl"></span><br/>
						<span ng-bind="'URL Api : ' + film.url"></span><br/>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>