<div class="row" id="people">
	<div class="col-md-12">
		<h2 class="page-title">People </h2>
	</div>
	<div class="col-md-12 box-list">
		<div ng-repeat="i in pageArray track by $index" id="people-page-{{i}}">
			<ul ng-if="allPeople[i].results">
				<li ng-repeat="people in allPeople[i].results track by people.url" class="border-top-purple">
					<i class="fa fa-users title-panel"></i> &nbsp;&nbsp;<span class="title-panel" ng-bind="people.name"></span><br/>
					<div class="pane-detail">
						<strong>Gender : </strong><span ng-bind="people.gender"></span><br/>
						<strong>Birth Year : </strong><span ng-bind="people.birth_year"></span><br/>
						<strong>Height : </strong><span ng-bind="people.height"></span><br/>
						<strong>Mass : </strong><span ng-bind="people.mass"></span><br/>
						<strong>Hair Color : </strong><span ng-bind="people.hair_color"></span><br/>
						<strong>Skin Color : </strong><span ng-bind="people.skin_color"></span><br/>
						<strong>Eye Color : </strong><span ng-bind="people.eye_color"></span><br/>
						<strong>URL Api : </strong><span ng-bind="people.url"></span><br/>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>