<div class="row" id="planet">
	<div class="col-md-12">
		<h2 class="page-title">Planet </h2>
	</div>
	<div class="col-md-12 box-list">
		<div ng-repeat="i in pageArray track by $index" id="planet-page-{{i}}">
			<ul ng-if="allPlanets[i].results">
				<li ng-repeat="planet in allPlanets[i].results track by planet.url" class="border-top-green">
					<i class="fa fa-globe title-panel"></i> &nbsp;&nbsp;<span class="title-panel" ng-bind="planet.name"></span><br/>
					<div class="pane-detail">
						<span ng-bind="'Diameter : ' + planet.diameter"></span><br/>
						<span ng-bind="'Climate : ' + planet.climate"></span><br/>
						<span ng-bind="'Gravity : ' + planet.gravity"></span><br/>
						<span ng-bind="'Terrain : ' + planet.terrain"></span><br/>
						<span ng-bind="'Rotation Period : ' + planet.rotation_period"></span><br/>
						<span ng-bind="'Orbital Period : ' + planet.orbital_period"></span><br/>
						<span ng-bind="'Population : ' + planet.population"></span><br/>
						<span ng-bind="'URL Api : ' + planet.url"></span><br/>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>